<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

    <script th:src="@{js/jquery-1.10.2.min.js}"></script>

    <script th:src="@{js/bootstrap.min.js}"></script>

    <script th:src="@{js/echarts.min.js}"></script>

    <title>商城首页</title>

</head>



<body>

<!--footer  -->

<div class="row clearfix">

    <div class="col-md-12 column">

        <div class="row clearfix">

            <div class="col-md-4 column">

                <h3>关于公司</h3>

                <ul>

                    <li>

                        公司简介

                    </li>

                    <li>

                        可持续发展

                    </li>

                    <li>

                        信任中心

                    </li>

                    <li>

                        管理层信息

                    </li>

                    <li>

                        招贤纳士

                    </li>

                    <li>

                        供应商

                    </li>

                </ul>

            </div>

            <div class="col-md-4 column">

                <h3>技术支持</h3>

                <ul>

                    <li>

                        消费者技术支持

                    </li>

                    <li>

                        商城云技术支持

                    </li>

                    <li>

                        运营商技术支持

                    </li>

                    <li>

                        产品安全通告

                    </li>

                </ul>

            </div>

            <div class="col-md-4 column text-center">

                <img th:src="@{images/nightmonkey3.jpg}" style="width: 150px;height: 150px;"/>

            </div>

        </div>

    </div>

</div>

</body>

</html>