<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
  <script th:src="@{js/jquery-1.10.2.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script th:src="@{js/echarts.min.js}"></script>
  <title>会员中心</title>

</head>

<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h2 class="text-center">
        商城后台管理系统
      </h2>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-2 column">
      <div th:include="/common/asideMenu.html">
      </div>
    </div>
    <div class="col-md-10 column">
      <h3>欢迎来到商城管理后台</h3>
    </div>
  </div>
</div>

</div>
</body>
</html>